-- ==========================================
-- REAL-TIME CHAT SECURITY & ROLE-BASED ACCESS
-- ==========================================

-- 1. Ensure Table Structure
-- rename column if it was message_text
DO \$\$ 
BEGIN
    IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='messages' AND column_name='message_text') THEN
        ALTER TABLE public.messages RENAME COLUMN message_text TO content;
    END IF;
END \$\$;

ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS is_read BOOLEAN DEFAULT false;
ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS image_url TEXT;

-- 2. ENABLE RLS
ALTER TABLE public.messages ENABLE ROW LEVEL SECURITY;

-- 3. SELECT POLICY: Only sender or receiver can view
DROP POLICY IF EXISTS \
Users
can
view
their
own
messages\ ON public.messages;
CREATE POLICY \Users
can
view
their
own
messages\ 
ON public.messages FOR SELECT
TO authenticated
USING (auth.uid() = sender_id OR auth.uid() = receiver_id);

-- 4. INSERT POLICY: Only if they have an ACCEPTED connection
DROP POLICY IF EXISTS \Only
connected
users
can
message\ ON public.messages;
CREATE POLICY \Only
connected
users
can
message\
ON public.messages FOR INSERT
TO authenticated
WITH CHECK (
    auth.uid() = sender_id AND (
        EXISTS (
            SELECT 1 FROM public.connections 
            WHERE status = 'accepted' AND (
                (caretaker_id = sender_id AND patient_id = receiver_id) OR
                (patient_id = sender_id AND caretaker_id = receiver_id)
            )
        )
    )
);

-- 5. UPDATE POLICY: Recipient can mark as read
DROP POLICY IF EXISTS \Recipients
can
mark
as
read\ ON public.messages;
CREATE POLICY \Recipients
can
mark
as
read\
ON public.messages FOR UPDATE
TO authenticated
USING (auth.uid() = receiver_id);

-- 6. ENABLE REALTIME
ALTER TABLE public.messages REPLICA IDENTITY FULL;
DO \$\$ 
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname='supabase_realtime' AND tablename='messages') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE public.messages;
    END IF;
END \$\$;

