
-- ==========================================
-- FINAL SYSTEM IMPROVEMENTS & FIXES
-- ==========================================

-- 1. Fix RLS for medication_logs (Allow Patients to Insert)
ALTER TABLE public.medication_logs ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS \
Patients
can
insert
their
own
medication
logs\ ON public.medication_logs;
CREATE POLICY \Patients
can
insert
their
own
medication
logs\
ON public.medication_logs FOR INSERT
TO authenticated
WITH CHECK (auth.uid() = patient_id);

DROP POLICY IF EXISTS \Patients
can
view
their
own
medication
logs\ ON public.medication_logs;
CREATE POLICY \Patients
can
view
their
own
medication
logs\
ON public.medication_logs FOR SELECT
TO authenticated
USING (auth.uid() = patient_id);

-- 2. Setup Storage Bucket 'medicare' and Policies
-- Ensure bucket exists
INSERT INTO storage.buckets (id, name, public)
VALUES ('medicare', 'medicare', true)
ON CONFLICT (id) DO NOTHING;

-- Policies for the 'medicare' bucket
DROP POLICY IF EXISTS \Public
Access\ ON storage.objects;
CREATE POLICY \Public
Access\ ON storage.objects FOR SELECT USING (bucket_id = 'medicare');

DROP POLICY IF EXISTS \Authenticated
users
can
upload\ ON storage.objects;
CREATE POLICY \Authenticated
users
can
upload\ ON storage.objects FOR INSERT TO authenticated WITH CHECK (bucket_id = 'medicare');

DROP POLICY IF EXISTS \Users
can
update
own
records\ ON storage.objects;
CREATE POLICY \Users
can
update
own
records\ ON storage.objects FOR UPDATE TO authenticated USING (bucket_id = 'medicare');

-- 3. Enable Realtime for Messages and Medication Logs
ALTER TABLE public.messages REPLICA IDENTITY FULL;
-- Ensure the table is in the supabase_realtime publication
ALTER PUBLICATION supabase_realtime ADD TABLE public.messages;

