
-- Fix RLS for medication_logs
ALTER TABLE public.medication_logs ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS \
Patients
can
insert
their
own
medication
logs\ ON public.medication_logs;
CREATE POLICY \Patients
can
insert
their
own
medication
logs\
ON public.medication_logs FOR INSERT
TO authenticated
WITH CHECK (auth.uid() = patient_id);

DROP POLICY IF EXISTS \Patients
can
view
their
own
medication
logs\ ON public.medication_logs;
CREATE POLICY \Patients
can
view
their
own
medication
logs\
ON public.medication_logs FOR SELECT
TO authenticated
USING (auth.uid() = patient_id);

DROP POLICY IF EXISTS \Caretakers
can
view
their
patients medication logs\" ON public.medication_logs;
CREATE POLICY \"Caretakers can view their patients
medication
logs\
ON public.medication_logs FOR SELECT
TO authenticated
USING (
    EXISTS (
        SELECT 1 FROM public.connections
        WHERE connections.caretaker_id = auth.uid()
        AND connections.patient_id = medication_logs.patient_id
        AND connections.status = 'active'
    )
);

-- Also ensure storage bucket exists and policies are set (mental note)

