
-- 1. Ensure Columns Exist (content, is_read, image_url)
DO \$\$ 
BEGIN
    IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='messages' AND column_name='message_text') THEN
        ALTER TABLE public.messages RENAME COLUMN message_text TO content;
    END IF;
END \$\$;

ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS is_read BOOLEAN DEFAULT false;
ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS image_url TEXT;

-- 2. Enable Realtime Properly
ALTER TABLE public.messages REPLICA IDENTITY FULL;
-- Ensure it is in the publication
DO \$\$ 
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname='supabase_realtime' AND tablename='messages') THEN
        ALTER PUBLICATION supabase_realtime ADD TABLE public.messages;
    END IF;
END \$\$;

-- 3. Storage Policies for Chat Images
-- Assuming 'medicare' bucket exists from previous steps
INSERT INTO storage.buckets (id, name, public) VALUES ('medicare', 'medicare', true) ON CONFLICT (id) DO NOTHING;

DROP POLICY IF EXISTS \
Public
Access
Chat\ ON storage.objects;
CREATE POLICY \Public
Access
Chat\ ON storage.objects FOR SELECT USING (bucket_id = 'medicare');

DROP POLICY IF EXISTS \Authenticated
Upload
Chat\ ON storage.objects;
CREATE POLICY \Authenticated
Upload
Chat\ ON storage.objects FOR INSERT TO authenticated WITH CHECK (bucket_id = 'medicare');

