
-- Ensure messages table has correct structure
DO \$\$ 
BEGIN
    IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='messages' AND column_name='message_text') THEN
        ALTER TABLE public.messages RENAME COLUMN message_text TO content;
    END IF;
END \$\$;

-- Add is_read if missing
ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS is_read BOOLEAN DEFAULT false;
-- Add image_url for WhatsApp-style images
ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS image_url TEXT;

-- MUST enable Replica Identity Full for Realtime filters to work reliably
ALTER TABLE public.messages REPLICA IDENTITY FULL;

-- Re-enable Realtime
DROP PUBLICATION IF EXISTS supabase_realtime;
CREATE PUBLICATION supabase_realtime FOR ALL TABLES;

-- RLS fixes for messaging
DROP POLICY IF EXISTS \
Users
can
send
messages\ ON public.messages;
CREATE POLICY \Users
can
send
messages\ ON public.messages FOR INSERT
WITH CHECK (auth.uid() = sender_id);

DROP POLICY IF EXISTS \Users
can
view
their
own
messages\ ON public.messages;
CREATE POLICY \Users
can
view
their
own
messages\ ON public.messages FOR SELECT
USING (sender_id = auth.uid() OR receiver_id = auth.uid());

DROP POLICY IF EXISTS \Users
can
update
read
status\ ON public.messages;
CREATE POLICY \Users
can
update
read
status\ ON public.messages FOR UPDATE
USING (receiver_id = auth.uid());

